.back{
    display: flex;
    align-self: start;
    align-items: center;
    padding: 1rem 0 0rem 4rem;
    font-size: 1.2rem;
    color: #8692A6;
    margin-top: 2.5rem;
}
.back a{
    text-decoration: none;
}
.back p{
    padding: 0 0.5rem;
}