.signIntro{
    height: 110%;
    background-image: url(../../assetse/Background2.png);
    background-size: 105% 105%;
    background-repeat: no-repeat;
}
.signIntro>div{
    background-color: #1566d8d6;
    height: 100%;
    width: 100%;
}