.quote {
  padding: 0 5rem;
  padding-top: 2rem;
}
.quote p {
  padding-top: 1rem ;
  color: white;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
}
.buttomCorner {
  display: flex;
  margin-left: auto;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-right: 1rem solid white;
  border-bottom: 1rem solid white;
}
.logQuote p{
  color: #696F79;
}
.outher{
  display: flex;
}
.hide{
  display: none;
}